/* stylelint-disable value-keyword-case */
/* stylelint-disable custom-property-pattern */
/* stylelint-disable color-hex-length */

/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-color: #000;
  --main-font-family: 'Inter-Variable', Arial, sans-serif;
  --bg-lines-c: #d3d3d3;
  --bg-linear-c-block-start: #E7E7E7;
  --bg-linear-c-block-end: #1A1A1A;
  --accent-font-family: 'Press Start 2P', fantasy;
  --bg-content-c: #FFF;
  --button-color: #000;
  --content-max-inline-size: 700px;
  --content-min-inline-size: 320px;
  --content-min-block-size: 323px;
  --main-font-w: 400;
  --main-font-w-bold: 700;
  --main-like-icon-c: #000;
  --like-default: transparent;
  --like-liked-c: #FF0000;
  --main-font-size: 18px;
  --font-size-button: 14px;
  --likeB-inline-size: 130px;
}